.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__logo {
  width: 120px;
  object-fit: contain;
  margin: 0 16px;
  padding: 8px 6px 0 6px;
  border: 1px solid #131921;
}

.header__logo:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin-right: 4px;
  border: none;
  outline: none;
}

.header__searchIcon {
  cursor: pointer;
}

.header__searchInput {
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.15rem;
  font-size: 1rem;
}

.header__searchIcon {
  padding: 5px;
  height: 32px !important;
  width: 32px !important;
  background-color: #cd9042;
  border: none !important;
  outline: none !important;
  border-radius: 0.15rem !important;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin-left: 4px;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 1px solid #131921;
}

.header__option:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  color: #fff;
  display: flex;
  align-items: center;
}

.header__checkoutBasketLink {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
  margin-left: 4px;
  padding: 4px 8px 4px 8px;
  border: 1px solid #131921;
}

.header__checkoutBasketLink:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.header__loginLink {
  text-decoration: none;
}

.country__flag {
  border: none !important;
}

.country__flag:hover {
  border: none !important;
}

@media only screen and (max-width: 450px) {
  .header__logo {
    width: 40px !important;
    margin: 0 8px;
    padding: 0;
  }

  .header {
    display: flex;
    justify-content: space-around;
  }

  .header__searchInput {
    font-size: 0.8rem;
  }

  .header__option {
    padding: 0 !important;
    padding-right: 0.2rem !important;
    margin-left: 0.25rem !important;
  }

  .product__button {
    height: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .header__logo {
    width: 60px;
  }

  .header__searchInput,
  .header__searchIcon {
    border-radius: 0 !important;
  }

  .header__option {
    padding: 0.2rem 0.4rem;
    margin-right: 0;
    margin-left: 0;
  }

  .header__optionLineOne {
    font-size: 11px;
  }

  .header__optionLineTwo {
    font-size: 12px;
  }

  .header__checkoutBasketLink {
    margin-right: 0;
    padding: 2px 4px 2px 4px;
  }

  .MuiSvgIcon-root {
    font-size: 1.25rem !important;
  }
}
